
.container-wrap {
  padding-right: 50px;
  @include breakpoint(xxlarge) {
    padding: 0;
  }

}

.full-height {
  min-height: 100vh;
}

a, i {
  cursor: pointer;
  display: inline-block;
}

@mixin title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
@mixin content {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

.style-button {
  @include title;
  background-color: $gold-color;
  color: $white-color;
  padding: 10px;
  border: 1px solid #af935b;
  &:hover {
    color: $gold-color;
    background-color: $white-color;
    i {
      color: $gold-color;
    }
  }
  &:focus {
    color: $gold-color;
    background-color: $white-color;
  }
  i {
    padding-left: 25px;
  }
}


.lo-arrow__small {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  img {
    border: none;
  }
  @include breakpoint(768px down) {
    top: 40px;
  }
  @include breakpoint(xxlarge) {
    right: -50px;
  }
}

