.full-height {
  min-height: 100vh;
}

a, i {
  cursor: pointer;
  display: inline-block;
}

@mixin title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1;
}
@mixin content {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}
