.lo-footer {
  background-color: $dark-grey;
  padding-top: 20px;
  &__logo {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  .footer-menu {
    border-bottom: 1px solid #5e5e5e;
    padding: 10px 0 20px;
    width: 100%;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    @include breakpoint (768px down) {
      flex-direction: column;
    }
    .is-active > a {
      color: $dark-grey;
    }
    .menu-item {
      &:focus {
        outline: none;
      }
      @include breakpoint (768px down) {
        text-align: center;
      }
      a {
        text-transform: uppercase;
        color: #fff;
        &:hover {
          color: $gold-color;
        }
        @include breakpoint (768px down) {
          display: inline-block;
        }
      }
    }
  }
  &__socials--list {
    padding-top: 30px;
    list-style-type: none;
    text-align: center;
    margin: 0;
  }
  &__socials--item {
    + li {
      padding-left: 30px;
    }
    display: inline-block;
  }
  &__socials--link {
    color: #fff;
    &:hover {
      color: $gold-color;
    }
  }
  &__bottom--list {
    list-style-type: none;
    text-align: center;
    .lo-bottom__item {
      display: inline-block;
      position: relative;
      + li {
        &:before {
          content: '';
          display: block;
          top: 45%;
          position: absolute;
          width: 1px;
          height: 10px;
          background-color: #fff;
          @include breakpoint(768px down) {
            display: none;
          }
        }
      }
    }
    .lo-bottom__link {
      color: #fff;
      padding:0 15px;
      &:hover {
        color: $gold-color;
      }
      .lo-bottom__image {
        width: 100px;
      }
      svg {
        path {
          fill:#fff;
        }
        width: 16px;
        position: relative;
        top: 3px;
      }
    }
    @include breakpoint (768px down) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
  &--white {
    background-color: #fff;
    a {
      color: $dark-grey !important;
      &:hover {
        color: $gold-color !important;
      }
    }
    .footer-menu {
      .menu-item {
        a {
          color: $dark-grey;
        }
      }
    }
  }
}

