// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.lo-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 20px 40px;
  &__logo {
    img {
      width: 100px;
    }
  }
  .lo-hamburger {
    display: block;
    &__inner {
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: block;
      transition: .15s ease;
    }
    &__inner--middle {
      width: 15px;
      margin: 5px auto 5px;
    }
  }
}

.off-canvas.is-transition-overlap.is-open {
  background-color: #fff;
  box-shadow: none;
  .callout, .lo-callout {
    border: none;
    padding: 0;
    &__link {
      padding-left: 15px;
      color: $gold-color;
    }
  }
  .main-menu {
    flex-wrap: nowrap;
    flex-direction: column;
    a {
      padding-left: 15px;
      color: $gold-color;
      text-transform: uppercase;
      font-weight: 700;
    }
    .is-active > a {
      color: $black-color;
    }
  }

}

.lo-socials__list {
  border-top: 1px solid #af9656;
  list-style-type: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  .lo-socials__item {
    display: inline-block;
    + .lo-socials__item {
      padding-left: 35px;
    }
  }
  .lo-socials__link {
    i {
      font-size: 24px;
      color: $gold-color;
      font-weight: 700;

    }
  }
}

.lo-menu__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 100;
  .lo-menu {
    &:hover {
      .lo-menu__socials {
        display:inline-block;
      }
    }
    &__icon {
      color: $gold-color;
      font-weight: 700;
      cursor: pointer;
    }
    &__socials {
      list-style-type: none;
      margin: 0;
      display: inline-block;
      display: none;
    }
    &__item {
      display: inline-block;
    }
    &__link {
      i {
        color: $gold-color;
        font-weight: 700;
      }
    }
  }
  .lo-menu__right {
    .lo-phone {
      transform: rotate(0deg);
      color: $gold-color;
    }
  }
}